body {
    overflow: auto;
    display: grid;
    grid-template-areas:
        "nav nav"
        "header header"
        "aside main"
        "aside main"
        "footer footer";
    grid-template-rows: 77px 50px 700px 260px 40px;
    grid-template-columns: 25% 1fr;
    gap: 10px;
    margin: 10px;
}

nav, header, aside, main, footer {
  background-color: #E8E8E8;
}

.banner {
    grid-area: nav;
}

.student_info {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#g_options {
    border: thin solid black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 100%;
}

.g_form {
    grid-area: main;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 575px) {
    body {
        grid-template-areas:
            "nav"
            "header"
            "aside"
            "main"
            "footer";
        grid-template-rows: 77px 50px 725px 700px 260px 40px;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0;
    }
}