body {
    overflow: auto;
    display: grid;
    grid-template-areas:
        "nav nav"
        "aside main"
        "aside main"
        "footer footer";
    grid-template-rows: 77px 700px 260px 40px;
    grid-template-columns: 35% 1fr;
    gap: 10px;
    margin: 10px;
    background-color: #C2C2C2C2;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    grid-area: nav;
}

.sidebar { 
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact_info {
    border: thin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

#inner {
    border: thin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 90%;
}

#select_dept {
    border: thin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}

select {
    font-family: inherit;
    width: 90%;
}

#side {
    width: 80%;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

.override_form {
    grid-area: main;
    display:flex;
    justify-content: center;
    align-items: center;
}

#override_pdf {
    width: 90%;
    height: 90%;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 575px) {
    body {
        grid-template-areas:
            "nav"
            "aside"
            "main"
            "footer";
        grid-template-rows: 77px 725px 700px 260px 40px;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0;
    }
}
