body {
    overflow: auto;
    display: grid;
    grid-template-areas:
        "nav nav"
        "aside main"
        "aside main"
        "footer footer";
    grid-template-rows: 77px 700px 260px 20px;
    grid-template-columns: 35% 1fr;
    gap: 10px;
    margin: 10px;
    background-color: #C2C2C2C2;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    grid-area: nav;
}

.sidebar { 
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guide_instructions {
    border: thin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

#inner {
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 90%;
    margin-top: -23px;
    display: block;
    padding-left: 10px;
    
}

hr {
    border-bottom: thin solid black;
}

.box {
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 75%;
    margin-top: -5px;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 25%;
}

#select_curriculum_guide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 98%;
    flex-direction: column; 
    padding: 5px;   

}

select {
    font-family: inherit;
    width: 90%;
}

#side {
    width: 80%;
    height: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    margin-top: 170px;
    margin-left: 50px;
}

#form {

    border: thin solid black;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 96%;
    flex-direction: column; 
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    margin-top: 170px;
}

fieldset {
    height: 100%;
    width: 100%;
}

.override_form {
    grid-area: main;
    display:flex;
    justify-content: center;
    align-items: center;
}

#override_pdf {
    width: 90%;
    height: 90%;
    border: none;
    display: flex;
    background-color: #525659;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

#content {
    background-color: #525659;
    border: none;
}

#override_pdf p {
    align-items: center;
    justify-content: center;
    color: white;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 575px) {
    body {
        grid-template-areas:
            "nav"
            "aside"
            "main"
            "footer";
        grid-template-rows: 77px 725px 700px 260px 0px;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0;
    }
}
