h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
}