{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculum Guides</title>
    <link rel="stylesheet" href={% static 'css/guides.css' %}>
</head>
<body>
    <nav class = "banner">
        {% include 'navigation.html' %}
    </nav>

    <header class = "student_info">
        <!--if major/dept are undeclared, display a different message to user (?)-->
        <!--if major/dept are declared, display the major/dept-->
        <p id = "dept">Department</p>
        <p id = "major">Major</p>
    </header>
    
    <aside class = "sidebar">
        <section id = "g_options">
            <select id = "college">
                <option disabled="disabled" selected="selected">Select Department</option>
            </select>
            <select id = "departments">
                <option disabled="disabled" selected="selected">Select Department</option>
            </select>
            <select id = "major">
                <option disabled="disabled" selected="selected">Select Department</option>
            </select>
        </section>
    </aside>

    <main class = "g_form">
        <section id = "g_pdf">
        </section>
    </main>

    <footer class = "footer">
        <p> footer </p> 
    </footer>
</body>
</html>
