{% include 'navigation.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggie Hub</title>
    <link rel="stylesheet" href={% static 'css/pages.css' %}>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.3.js' %}"></script>
    <script type="text/javascript">
        /*
        TODO: create a function that will load the subjects when a term is selected
         and the courses when a subject is selected
         */

         /*
        TODO: create a function that will load the course description when a course is selected
        function will load section options when a course is selected
         */
    </script>
</head>
<body>
    <h1>Schedule Builder</h1>
    <p>This page will allow students to see their schedules graphically while they're creating it.</p>
    {% csrf_token %}
    <div id "class_dropdowns">
        <select id = "select_term">
            <option disabled="disabled" selected="selected">Select Term</option>
            {% for term in terms %}
            <option value="{{term}}">{{term}}</option>
            {% endfor %}
        </select>
        <select id = "select_subject">
            <option disabled="disabled" selected="selected">Select Subject</option>
            {% for subject in subjects %}
            <option value="{{subject}}">{{subject}}</option>
            {% endfor %}
        </select>
        <select id = "select_course">
            <option disabled="disabled" selected="selected">Select Course</option>
            {% for course in courses %}
            <option value="{{course}}">{{course}}</option>
            {% endfor %}
        </select>
    </div>
    <div id = "description">
        <!--TODO: course description is dependent on course selection-->
        <p>Course Description Goes Here</p>
    </div>
    <div id = "section_info">
        <!--TODO: section option show up after course selection-->
        <p>Section Selection Goes Here</p>
    </div>
    <!--TODO: add button function (add course to schedule? reset dropdown selections?) -->
    <button id = "do_something">Do Something</button>
</body>
</html>
