<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggie Bridge</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/homepage.css' %}>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <script src="https://kit.fontawesome.com/b12f80ab13.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script>
        //LOAD TERMS AND PROFILE DATA
        var course_sections; 

        $(document).ready(function() {
            var new_terms = $("#select_term");
            $.ajax({
                type: "POST",
                url: "{% url 'get_terms' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    var terms = response.terms;
                    var p_term = response.p_term;
                    html = '';
                    $.each(terms, function(index, value) {
                        if (!(value.includes("(View only)"))) {
                        html = '<option value="' + p_term[index] + '">' + value + '</option>';
                        new_terms.append(html);
                        }
                    });
                }
            });

            $.ajax ({
                type: "POST",
                url: "{% url 'get_profile' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    var student_name = $("#student_name");
                    var classification = $("#classification");
                    student_name.html(response.first + ' ' + response.last);
                    classification.html(response.classification);
                }
            });
        });

        //CLEAR SCHEDULE AND SELECTIONS ON TERM CHANGE
        $(document).ready(function(){
            $("#select_term").focus(function(){
                if ($("#details tr").length > 1) {
                    var answer = confirm("Changing the term will clear your current selections. Are you sure you want to change the term?");
                    if (answer == true) {
                        clearSchedule();
                        $("#add").hide();
                        $("#description").hide();
                        $(".select_section").hide();
                        var all_sections = $("#available");
                        all_sections.empty();
                        var course_select = $("#select_course");
                        var subject_select = $("#select_subject");
                        course_select.empty();
                        course_select.append('<option disabled hidden selected>Select Course</option>');
                        subject_select.empty();
                        subject_select.append('<option disabled hidden selected>Select Subject</option>');
                    } else {
                        $("#select_term").blur();
                    }
                }
            });
        });

        //REGISTER SCHEDULE
        $(document).ready(function(){
           $("#register").click(function() {
            register();
            })

           $("#submit_classes").click(function() {
            var result = submit();

            $.ajax ({
                type: "POST",
                url: "{% url 'register_student' %}",
                data: {
                    'schedule': JSON.stringify(result),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    displayConfirmation(response);
                }
            })
           });
        });

        //LOAD SUBJECTS
        $(document).ready(function(){
            $("#select_term").change(function(){
                clearSelection();
                $("#available").empty();
                $("#add").hide();
                $("#description").hide();
                $(".select_section").hide();
                var term = $(this).children("option:selected").text();

                $.ajax({
                    type: "POST",
                    url: "{% url 'get_subjects' %}",
                    data: {
                        'term': term,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (response) {
                        var all_sections = $("#available");
                        all_sections.empty();
                        var course_select = $("#select_course");
                        var subject_select = $("#select_subject");
                        course_select.empty();
                        course_select.append('<option disabled hidden selected>Select Course</option>');
                        subject_select.empty();
                        subject_select.append('<option disabled hidden selected>Select Subject</option>');
                        var subjects = response;
                        html = '';
                        $.each(subjects, function(index, value) {
                            for (var i = 0; i < value.length; i++) {
                                html = '<option value="' + value[i] + '">' + value[i] + '</option>';
                                subject_select.append(html);
                            }
                        });
                    }
                }); 
            });
        });
        
        //LOAD COURSES
        $(document).ready(function(){
            $("#select_subject").change(function(){
                clearSelection();
                $("#available").empty();
                $("#description").hide();
                $(".select_section").hide();
                $("#add").hide();

                var subject = $(this).children("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_courses' %}",
                    data: {
                        'subject': subject,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (response) {
                        var courses = response;
                        var all_sections = $("#available");
                        all_sections.empty();
                        var course_select = $("#select_course");
                        course_select.empty();
                        course_select.append('<option disabled hidden selected>Select Course</option>');
                        html = '';
                        var course_ids = courses.course_id;
                        var course_names = courses.course_name;
                        
                        $.each(course_ids, function(index, value) {
                            html = '<option value="' + course_ids[index] + '">' + course_ids[index] + ' - ' + course_names[index] + '</option>';
                            course_select.append(html);
                        });
                    }
                });
            });
        });
        
        //LOAD SECTIONS
        $(document).ready(function(){
            $("#select_course").change(function(){
                clearSelection();
                $("#available").empty();
                $("#description").hide();
                $("#add").hide();
                var course = $(this).children("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_sections' %}",
                    data: {
                        'course': course,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (response) {
                        var sections = response.sections;
                        course_sections = sections;
                        var all_sections = $("#available");
                        all_sections.empty();
                        html = '';
                        
                        var course_description = $("#description");
                        course_description.empty();
                        course_description.append("<p>" + sections[0].description + "</p>");
                        course_description.show();
                        $(".select_section").show();
                        
                        for(var i=0;i,sections.length;i++) {
                            if (sections[i].Cmp == 'DL') {
                                html = '<option value="' + i + '">' + sections[i].Sec + ', ONLINE</option>';
                            } else if (sections[i].Rem == '0' || sections[i].Rem == '-1') {
                                html = '<option value="' + i + '" disabled> FULL - ' + sections[i].Sec + ', ' + sections[i].Days + ', ' + sections[i].Time + '</option>';
                            } else if (sections[i].Sec == '\xa0' && sections[i].Title == '\xa0') {
                                html = '<option value="' + i + '" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + sections[i].Days + ', ' + sections[i].Time + '</option>';
                            } else if (sections[i].Days == '\xa0' && sections[i].Sec != '\xa0') {
                                html = '<option value="' + i + '">' + sections[i].Sec + ', ' + sections[i].Time + '</option>';
                            } else {
                                html = '<option value="' + i + '">' + sections[i].Sec + ', ' + sections[i].Days + ', ' + sections[i].Time + '</option>';
                            }
                            
                            all_sections.append(html);
                        }
                    }
                });
            });
        });

    
        //DISPLAY SELECTED SECTION
       $(document).ready(function() {
            $("#available").change(function() {
                var selected = $("#available").children("option:selected").val();
                var next = $("#available").children("option:selected").next().val();
                if (course_sections.length > 1 && next != undefined) {
                    if (course_sections[next].Sec == '\xa0' && course_sections[next].Title == '\xa0') {
                        displaySection([course_sections[selected], course_sections[next]]);
                    } else {
                        displaySection(course_sections[selected]);
                    }
                } else {
                    displaySection(course_sections[selected]);
                }
            });
        });
    </script>
</head>

<body>
    <nav class = "banner">
        {% include 'navigation.html' %}
    </nav>

    <header class = "student_info">
        <p id = "reg_status" >Current Status: <span id = "status"></span></p>
        <p id = "student_name"></p>
        <p id = "classification"></p>
    </header>

    <aside class = "options">
        <div id="inner">
            <div id = "pageinfo">
                <h2>Course Registration</h2>
            </div>
            {% csrf_token %}
            <section class = "dropdowns">
                <select id = "select_term"> 
                    <option disabled hidden selected>Select Term</option>
                </select>
                <select id = "select_subject">
                    <option disabled hidden selected>Select Subject</option>
                </select>
                <select id = "select_course">
                    <option disabled hidden selected>Select Course</option>
                </select>
            </section>

            <section id = "description">
                
            </section>

            <section class = "select_section">
                <select id="available" size="5"></select>
            </section>
        

            <div id = "update">
            <button id = "add" onclick="addClass()">Add to Schedule</button>
            <button id = "register">Register</button>
            </div>
        </div>
    </aside>

    <main class = "view">
        <div id = "scheduleview"></div>
    </main>

    <section class = "detailview">
        <table border id = "details">
            <thead>
                <tr>
                    <th width = "4%" id = "dv_crn" class = "dv_header">CRN</th>
                    <th width = "11%" id = "dv_section" class = "dv_header">Section</th>
                    <th width = "28%" id = "dv_title" class = "dv_header">Title</th>
                    <th width = "6%" id = "dv_days" class = "dv_header">Days</th>
                    <th width = "13%" id = "dv_time" class = "dv_header">Time</th>
                    <th width = "18%" id = "dv_instructor" class = "dv_header">Instructor</th>
                    <th width = "9%" id = "dv_location" class = "dv_header">Location</th>
                    <th width = "4%" id = "dv_credits" class = "dv_header">Credits</th>
                    <th width = "3%" id = "dv_buttons" class = "dv_header"></th>
                </tr>
            </thead>
        </table>
    </section>
    <footer class = "footer">
        <p> &#169;Aggie Bridge. All Rights Reserved. </p>
        <button id ="submit_classes"></button>
    </footer>
</body>
</html>
