
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggie Bridge</title>
    <link rel="stylesheet" href={% static 'css/homepage.css' %}>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b12f80ab13.js" crossorigin="anonymous"></script>

    <script>
        //gets available subjects based on term selection
        var course_sections;
        $(document).ready(function(){
            $("#course_description").hide();
            $("#select_term").change(function(){
                var term = $(this).children("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_subjects' %}",
                    data: {
                        'term': term,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (response) {
                        var all_sections = $("#available");
                        all_sections.empty();
                        var course_select = $("#select_course");
                        course_select.empty();
                        course_select.append('<option disabled hidden selected>Select Course</option>');
                        var subjects = response;
                        var subject_select = $("#select_subject");
                        subject_select.empty();
                        subject_select.append('<option disabled hidden selected>Select Subject</option>');
                        //add each subject in subjects to the subject select drop dropdown
                        html = '';
                        $.each(subjects, function(index, value) {
                            for (var i = 0; i < value.length; i++) {
                                html = '<option value="' + value[i] + '">' + value[i] + '</option>';
                                subject_select.append(html);
                            }
                        });
                    }
                }); 
            });
        });
        
        //gets available courses based on subject selection
        $(document).ready(function(){
            $("#select_subject").change(function(){
                var subject = $(this).children("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_courses' %}",
                    data: {
                        'subject': subject,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (response) {
                        var courses = response;
                        var all_sections = $("#available");
                        all_sections.empty();
                        var course_select = $("#select_course");
                        course_select.empty();
                        course_select.append('<option disabled hidden selected>Select Course</option>');
                        html = '';
                        //display course id - course name in dropdown
                        var course_ids = courses.course_id;
                        var course_names = courses.course_name;
                        
                        $.each(course_ids, function(index, value) {
                            html = '<option value="' + course_ids[index] + '">' + course_ids[index] + ' - ' + course_names[index] + '</option>';
                            course_select.append(html);
                        });
                    }
                });
            });
        });
        
        //gets available sections based on course selection
        $(document).ready(function(){
            $("#select_course").change(function(){
                var course = $(this).children("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_sections' %}",
                    data: {
                        'course': course,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        console.log(response.sections); 
                        var sections = response.sections;
                        course_sections = sections;
                        var all_sections = $("#available");
                        all_sections.empty();
                        html = '';
                        
                        for(var i=0;i,sections.length;i++) {
                            if (sections[i].Rem == 0) {
                                html = '<option value="' + i + '" disabled>' + sections[i].Sec + ', ' + sections[i].Days + ', ' + sections[i].Time + '</option>';
                            } else if (sections[i].Cmp == 'DL') {
                                html = '<option value="' + i + '">' + sections[i].Sec + ', ONLINE </option>';
                            } else{
                                html = '<option value="' + i + '">' + sections[i].Sec + ', ' + sections[i].Days + ', ' + sections[i].Time + '</option>';
                            }
                            all_sections.append(html);
                        }
                    }
                });
            });
        });

        {% comment %} //gets course description based on course selection
        $(document).ready(function(){
            $("#select_course").change(function(){
                var course = $(this).children("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_description' %}",
                    data: {
                        'course': course,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        console.log(response);
                        var description = JSON.parse(response);
                        var course_description = $("#description");
                        course_description.empty();
                        course_description.append('<p>' + description + '</p>');
                    }
                });
            });
        }); {% endcomment %}

        //grey and disable #add until a section is selected
        $(document).ready(function() {
            $("#add").prop("disabled", true);
            $("#add").css("cursor", "not-allowed");
            $("#add").css("background-color", "#E0E0E0");
            $("#available").change(function(){
                if ($("#available").children("option:selected").val() == undefined) {
                    //remove hover effect and box-shadow
                } else {
                    $("#add").prop("disabled", false);
                    $("#add").css("background-color", "#BC5C45");
                    $("#add").css("cursor", "pointer");
                }
            });
        });

        //displays selected section on calendar
        //called whenever the selected section in available changes
       $(document).ready(function() {
            $("#available").change(function() {
                var section = $(this).children("option:selected").val();
                addClass(course_sections[section]); 
            });
        });

    </script>
</head>

<body>
    <nav class = "banner">
        {% include 'navigation.html' %}
    </nav>

    <header class = "student_info">
        <p id = "reg_status" >Current Status: <span id = "status">STATUS</span></p>
        <p id = "student_name">STUDENT NAME</p>
        <p id = "classification">CLASSIFICATION</p>
    </header>

    <aside class = "options">
        <div id = "pageinfo">
            <h2>Course Registration</h2>
        </div>
        {% csrf_token %}
        <section class = "dropdowns">
            <select id = "select_term">
                <option disabled hidden selected>Select Term</option>
                {% for term in terms %}
                <option value="{{term}}">{{term}}</option>
                {% endfor %}
            </select>
            <select id = "select_subject">
                <option disabled hidden selected>Select Subject</option>
            </select>
            <select id = "select_course">
                <option disabled hidden selected>Select Course</option>
            </select>
        </section>

        <section class = "description">
            <p>Course Description</p>
        </section>

        <section class = "select_section">
            <select id="available" size="5"></select>
        </section>

        <!--disable button until a section is selected-->
        <div id = "update">
        <button id = "add" onclick="update(index)">Add to Schedule</button>
        <button id = "register" onclick="populate()">Register</button>
        </div>
    </aside>

    <main class = "view">
        <div id = "scheduleview"></div>
    </main>

    <!--rework table row ids-->
    <section class = "detailview">
        <table border id="details">
            <thead>
                <tr>
                    <th width = "4%" id = "dv_crn" class = "dv_header">CRN</th>
                    <th width = "11%" id = "dv_section" class = "dv_header">Section</th>
                    <th width = "28%" id = "dv_title" class = "dv_header">Title</th>
                    <th width = "6%" id = "dv_days" class = "dv_header">Days</th>
                    <th width = "13%" id = "dv_time" class = "dv_header">Time</th>
                    <th width = "18%" id = "dv_instructor" class = "dv_header">Instructor</th>
                    <th width = "9%" id = "dv_location" class = "dv_header">Location</th>
                    <th width = "4%" id = "dv_credits" class = "dv_header">Credits</th>
                    <th width = "3%" id = "dv_buttons" class = "dv_header"></th>
                </tr> 
            </thead>
            <!--detailed view should be blank? add and remove rows instead of clearing them out-->
        </table>
    </section>
    <footer class  = "footer">
        <p> &#169;Aggie Bridge. All Rights Reserved. </p>
    </footer>
</body>
</html>
