<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<a href = "{% url 'home'%}"><img src="\static\images\logo.png" alt= "Logo" style="height:70px; float: left; padding: 9px"></a>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'contact'%}">FAQ</a>
  <a href="{% url 'guides'%}">Curriculum Guides</a>
  <a href="{% url 'override'%}">Override Forms</a>
</div>
<span style="font-size:30px;cursor:pointer; float:right; margin-right: 15px; padding: 15px" onclick="openNav()">&#9776;</span>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

<div class="navigation-bar">
  <a href = "{% url 'home'%}"><img src="\static\images\Aggie Bridge Title.png" alt="Website Title"></a>
</div>



  