{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Override Form</title>
    <link rel="stylesheet" href={% static 'css/override.css' %}>
</head>
<body>
    <nav class = "banner">
        {% include 'navigation.html' %}
    </nav>
    
    <aside class = "sidebar">
        <section id = "select_dept">
            <select id = "departments">
                <option disabled="disabled" selected="selected">Select Department</option>
            </select>
        </section>
        <section id = "contact_info">
            <section id = "inner">
                <p> where the student will send their override form </p>
            </section>
        </section>
    </aside>

    <main class = "o_form">
        <section id = "o_pdf">
            <p> override form </p>
        </section>
    </main>

    <footer class = "footer">
        <p> footer </p> 
    </footer>
</body>
</html>
